# Dirs
Article_*_Results
*__pycache__*
*.cache*
*schrodinger*
*.ipynb_checkpoints*
*PSO_Results*
Old_ipynb
*build*

# Files
*.log
*.svg
*.csv
*.png

# Build files
*zeros_calc.c
*py_smm_base.cpp
*.so
*.pyd
